@tailwind base;
@tailwind components;
@tailwind utilities;

/* Custom styles using @layer */
body {
	background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)), url("assets/bg.jpg");
	background-repeat: no-repeat;
	background-size: cover;
	background-position: center;
}

/* Dark mode looking scrollbar */
div::-webkit-scrollbar,
body::-webkit-scrollbar {
	width: 8px;
}

div::-webkit-scrollbar-track,
body::-webkit-scrollbar-track,
.overflow-auto::-webkit-scrollbar-track {
	background: #555;
}

div::-webkit-scrollbar-thumb,
body::-webkit-scrollbar-thumb,
.overflow-auto::-webkit-scrollbar-thumb {
	background: #121212;
	border-radius: 5px;
}

div::-webkit-scrollbar-thumb:hover,
body::-webkit-scrollbar-thumb:hover,
.overflow-auto::-webkit-scrollbar-thumb:hover {
	background: #242424;
}